RestApp/Service References/ReservationService/ReservationService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64970/Services/ReservationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationDto" nillable="true" type="tns:ReservationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationDto" nillable="true" type="tns:ArrayOfReservationDto" />
  <xs:complexType name="ReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Restaurant" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Seats" nillable="true" type="q1:ArrayOfTupleOfintint" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDto" nillable="true" type="tns:ReservationDto" />
</xs:schema>