RestApp/Service References/PlaceService/PlaceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64970/Services/PlaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.DTO" />
  <xs:element name="GetPlacesForRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesForRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="GetPlacesForRestaurantResult" nillable="true" type="q1:ArrayOfPlaceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesForRestaurantInDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantId" type="xs:long" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesForRestaurantInDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="GetPlacesForRestaurantInDateResult" nillable="true" type="q2:ArrayOfPlaceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seats" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="restaurantId" type="xs:long" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>