RestApp/Service References/PlaceService/PlaceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlaceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaceDto" nillable="true" type="tns:PlaceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaceDto" nillable="true" type="tns:ArrayOfPlaceDto" />
  <xs:complexType name="PlaceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Seats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaceDto" nillable="true" type="tns:PlaceDto" />
</xs:schema>