RestApp/Service References/RestaurantService/RestaurantService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64970/Services/RestaurantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.DTO" />
  <xs:element name="GetAllRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="GetAllRestaurantResult" nillable="true" type="q1:ArrayOfRestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="GetMyRestaurantsResult" nillable="true" type="q2:ArrayOfRestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="restaurant" nillable="true" type="q3:RestaurantDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="restaurant" nillable="true" type="q4:RestaurantDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.DTO" minOccurs="0" name="restaurant" nillable="true" type="q5:RestaurantDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>