RestApp/Service References/RestaurantService/RestaurantService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurantDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantDto" nillable="true" type="tns:RestaurantDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantDto" nillable="true" type="tns:ArrayOfRestaurantDto" />
  <xs:complexType name="RestaurantDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantDto" nillable="true" type="tns:RestaurantDto" />
</xs:schema>