RestApp/Service References/RestaurantService/RestaurantService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BadLoginCredentialsException">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BadLoginCredentialsException" nillable="true" type="tns:BadLoginCredentialsException" />
  <xs:complexType name="NotFoundException">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NotFoundException" nillable="true" type="tns:NotFoundException" />
  <xs:complexType name="NotAuthorizedException">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NotAuthorizedException" nillable="true" type="tns:NotAuthorizedException" />
  <xs:complexType name="ConcurrencyException">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ConcurrencyException" nillable="true" type="tns:ConcurrencyException" />
</xs:schema>